{% extends 'base.html.twig' %}
{% block body %}
    <h1>{{ program.name }}</h1>
    <ul>
        {% for season in program.seasons %}
            <li>
                <a href="/program/{{program.id}}/season/{{season.id}}/episode/">Season : {{season.number}}</a>
            </li>
        {% endfor %}
        {% for episode in season.episodes %}
            <a href="{{ path('showEpisode', {'program': program.id,'season': season.id, 'episode': episode.id }) }}">
            Episode: {{ episode.number }}</a><p>. {{ episode.title }}</p><br>
        {% endfor %}
    </ul>
{% endblock %}