{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
    <h1>{{ program.name }}</h1>
<ul>
    {% for season in program.seasons %}
        <li>
            <a href="/program/{{program.id}}/season/{{season.id}}">Season : {{season.number}}</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}